<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" 
         xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"  IgnorableNamespaces="uap uap5 mp">
  <Identity Name="AestheticalZ.Bluechirp" Publisher="CN=AestheticalZ" Version="0.3.1.0" />
  <mp:PhoneIdentity PhoneProductId="ae8707e2-732f-43c2-ba54-8676c52f8e71" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Bluechirp</DisplayName>
    <PublisherDisplayName>AestheticalZ</PublisherDisplayName>
    <Logo>Assets\Icons\Store\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Bluechirp.App">
      <uap:VisualElements DisplayName="Bluechirp" Square150x150Logo="Assets\Icons\Tiles\MedTile.png" Square44x44Logo="Assets\Icons\AppList\AppList.png" Description="Bluechirp for Windows" BackgroundColor="#282c37">
        <uap:DefaultTile ShortName="Bluechirp">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\Icons\Splash\SplashScreen.png" BackgroundColor="#282c37" 
                          uap5:Optional="true"/>
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="analogfeelings-bluechirp">
            <uap:DisplayName>Bluechirp</uap:DisplayName>
          </uap:Protocol>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>
